/* @font-face {
    font-family: "Noah";
    src: url('../fonts/Noah-Bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: "Noah";
    src: url('../fonts/Noah-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: "Noah";
    src: url('../fonts/Noah-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Geometria";
    src: url('../fonts/Geometria-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: "Geometria";
    src: url('../fonts/Geometria-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Regular.ttf');
} */