//Переменные для шрифтов и цвета в файле var.scss, их подставляете вместо названия шрифтов и цвета, если не используются миксины. Миксины находятся в файле mixin.scss
.ftback {
    background: $green;
}

.footer {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1340px;
    padding: 3.13rem 10px;

    @include mobile {
        flex-direction: column;
        align-items: center;
    }


}

.ft1 {
    @include Raleway-font(1rem);
    display: flex;
    flex-direction: row;
    margin-right: auto;

    @include mobile {
        flex-direction: column;
        margin: auto;
    }

}

.ft1p {
    @include Raleway-font(1rem);
    color: $white;
}

.ft2 {
    @include Raleway-font(1rem);
    display: flex;

    @include mobile {
        flex-direction: column;
        margin: auto;
    }

}

.ft3 {
    @include Raleway-font(1rem);
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 15px;

    @include mobile {
        flex-direction: column;
        margin: auto;
    }


}

.ftlogo {
    fill: black;
}