.footer {
    display: flex;
    max-width: 1600px;
    padding: 0 10px;
    margin: auto;
    background: $green;
    align-items: center;
    justify-content: space-around;

    @include mobile {
        flex-direction: column;
        gap: 10px;
    }

    &__icons {
        width: 40px;
        height: 40px;

    }

    &__right {
        display: flex;
        flex-direction: row;
        gap: 10px;

        @include mobile {
            flex-direction: column;
        }
    }

    &__text {
        @include Exo (1rem);
        color: $white;
    }
}