//Переменные для шрифтов и цвета в файле var.scss, их подставляете вместо названия шрифтов и цвета, если не используются миксины. Миксины находятся в файле mixin.scss

.footer {
    display: grid;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: auto auto auto;
    max-width: 1340px;
    padding: 3.13rem 10px;

}

.ft1 {
    @include Raleway-font(1rem);
    text-align: left;
    width: 34%;


}

.ft2 {
    @include Raleway-font(1rem);
    text-align: center;
    width: 33%;
    padding-left: 10%;
}

.ft3 {
    @include Raleway-font(1rem);
    text-align: center;
    width: 33%;
}

.ftlogo {
    fill: black;
}