//Переменные для шрифтов и цвета в файле var.scss, их подставляете вместо названия шрифтов и цвета, если не используются миксины. Миксины находятся в файле mixin.scss
html {
    @include desktop {
        font-size: clamp(1rem, 0.3333rem + 1.0417vw, 2rem);
    }
}

header {
    width: 100%;
    position: absolute;
    z-index: 2;
}
.container {
    max-width: 100rem;
    padding: 1rem 2rem 0 3rem;
    margin: auto;
}

.menu_container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    & img {
        margin-right: auto;
        width: 10rem;
    }

    & nav {
        display: flex;
        align-items: center;
    }

    & nav ul {
        display: flex;
    }

    & li {

        &:not(:last-child) {
            align-self: center;
            margin: 0 1.25rem;
            @include Raleway-font(1rem);
            color: $white;
        }

        & span:first-of-type {
            @include Raleway-font(0.75rem);
            background-color:$white;
            padding: 0.75rem 1.25rem;
        }

        & span:last-of-type {
            @include Raleway-font(0.75rem);
            padding-top: 1rem;
            color: $white;
        }
    }
}

.menu_contact {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.container_start {
    position: relative;
    display: flex;
    justify-content: center;

    & img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    & .start_description {
        max-width: 100rem;
        padding: 10px;
        margin: auto;
        position: absolute;
        align-self: center;
        padding: 0 5rem 0 10rem;

        & p {
            color: $white;
            padding-bottom: 1rem;
        }

        & p:nth-child(1) {
            @include Raleway-font;
        }

        & p:nth-child(2) {
            @include Montserrat-font(3rem,4rem);
        }

        & p:nth-child(3) {
            @include Raleway-font(1.75rem,2.5rem);
        }
    }
}

