 /*Рассчет для экранов от 300px до 767px шрифт от 8 до 16px */
html {
    @include mobile {
        font-size: clamp(0.5rem, 0.1788rem + 1.7131vw, 1rem);
    }

    @include desktop {
        /*Рассчет для экранов от 1024px(нижняя граница desktop) до 1340px(ширина контейнера) шрифт от 16 до 22px */
        font-size: clamp(1rem, 0.3333rem + 1.0417vw, 1.375rem);
    }
}

body:has(#menu_toogle:checked) {
    overflow: hidden;
}

.container {
    max-width: 1600px;
    padding: 1rem 2rem 0 3rem;
    margin: auto;

    @include mobile {
        padding: 1.5rem;
    }
}

header {
    width: 100%;
    position: absolute;
    z-index: 2;

    & .menu_container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        text-align: center;

        &:has(#menu_toogle:checked) {
            width: 100vw;
            position: fixed;
        }

            & img {
                margin-right: auto;
                width: 8.25rem;
                z-index: 3;

                @include mobile {
                    width: 11.5rem;
                }

                @include tablet {
                    width: 12.25rem;
                }
        }

        & label, input {
            display: none;

            @include mobile {
                display: block;
            }

            @include tablet {
                display: block;
            }
        }

        & nav {
            display: flex;
            align-items: center;

            @include mobile {
                visibility: hidden;
                position: fixed;
                width: 100vw;
                height: 100vh;
                top: 0;
                left: -100%;
                background-color: $deepgreen;
                transition-duration: 0.4s;
                justify-content: center;
            }

            @include tablet {
                visibility: hidden;
                position: fixed;
                width: 100vw;
                height: 100vh;
                top: 0;
                left: -100%;
                background-color: $deepgreen;
                transition-duration: 0.4s;
                justify-content: center;
            }

            @media screen and (max-width: 767px) and (orientation:landscape){
                align-items: flex-start;
                overflow-y: scroll;
                overflow-x: hidden;;
            }

            @media screen and (min-width: 768px) and (max-width:1024px) and (orientation:landscape){
                align-items: flex-start;
                overflow-y: scroll;
                overflow-x: hidden;;
            }
        }

        & nav img {
            display: none;

            @include mobile {
                display: block;
                position: absolute;
                right: -2%;
                width: 20rem;
                bottom: 25%;
                transform: rotateY(180deg);
            }

            @include tablet {
                display: block;
                position: absolute;
                right: -2%;
                width: 20rem;
                bottom: 33%;
                transform: rotateY(180deg);
            }
        }

        & nav ul {
            display: flex;

            @include mobile {
                flex-flow: column;
                margin-top: 10rem;
            }

            @include tablet {
                flex-flow: column;
                margin-top: 10rem;
            }
        }

        & nav li {
            @include mobile {
                padding: 2.5rem;
                width: 100%;

                &:nth-of-type(1),&:nth-of-type(2),&:nth-of-type(3) {
                    border-bottom:  1px solid $vesna_2;
                }
            }

            @include tablet {
                padding: 2.5rem;
                width: 100%;

                &:nth-of-type(1),&:nth-of-type(2),&:nth-of-type(3) {
                    border-bottom:  1px solid $vesna_2;
                }
            }

            &:not(:last-child) {
                align-self: center;
                margin: 0 1.25rem;
                @include Exo (1.125rem);
                color: $white;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }

                @include mobile {
                    @include Exo (2rem, 2.5rem)
                }

                @include tablet {
                    @include Exo (2rem, 2.5rem)
                }
            }
        }

        & .menu_contact {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            position: relative;
            z-index: 3;

            @include mobile {
                margin-top: 5rem;
            }

            @include tablet {
                margin-top: 5rem;
            }

            & span:first-of-type {
                @include Exo (0.75rem);
                background-color:$white;
                padding: 0.75rem 1.25rem;

                @include mobile {
                    @include Exo (2.5rem,3rem);
                    padding: 2rem 3rem;
                }

                @include tablet {
                    @include Exo (2.5rem,3rem);
                    padding: 2rem 3rem;
                }
            }

            & span:last-of-type {
                @include Exo (0.75rem);
                padding-top: 0.625rem;
                color: $white;

                @include mobile {
                    @include Exo (2rem,2.5rem);
                    padding-top: 2rem;
                }

                @include tablet {
                    @include Exo (2rem,2.5rem);
                    padding-top: 2rem;
                }
            }
        }
    }
}

#menu_toogle {
    visibility: hidden;

    &:checked {
        & ~ label span, ~ label span::before, ~ label span::after {
            box-shadow: none;
        }

        & ~ label span {
            transform: rotate(45deg);
        }

        & ~ label span::before {
            top: 0;
            transform: rotate(0);
        }

        & ~ label span::after {
            top: 0;
            transform: rotate(90deg);
        }

        & ~ nav {
            visibility: visible;
            left: 0;
        }
    }

    & ~label {
        align-self: center;
        z-index: 3;
        position: fixed;
        width: 60px;

        @include mobile {
            width: 24px;
        }
    }

    & ~ label span, ~ label span::before, ~ label span::after {
        display: block;
        position: absolute;
        width: 60px;
        height: 4px;
        background-color: $white;
        transition-duration: 0.25s;
        box-shadow:0 1px 3px 0 $black;

        @include mobile {
            width: 24px;
            height: 3px;
        }
    }

    & ~ label span::before {
        content:'';
        top: -10px;

        @include mobile {
            top: -7px
        }
    }

    & ~ label span::after {
        content:'';
        top: 10px;

        @include mobile {
            top:7px;
        }
    }
}