//Переменные для шрифтов и цвета в файле var.scss, их подставляете вместо названия шрифтов и цвета, если не используются миксины. Миксины находятся в файле mixin.scss
.catalog {
  position: relative;
  &__background {
    position: absolute;
    z-index: -1;
    @include mobile {
      width: 15rem;
    }
    @include tablet {
      width: 20rem;
    }
  }

  &__background_1 {
    left: 0em;
  }

  &__background_2 {
    transform: scaleX(-1);
    right: 0em;
  }
}
.decor-container {
  max-width: 1340px;
  padding: 0 10px;
  margin: auto;

  &__title {
    padding: 7rem 0 0;
    @include Exo-Bold-font(2.25rem, 2.8rem);
    text-align: center;
    text-transform: uppercase;
  }
}

.decor {
  &__title {
    padding: 3.13rem 0rem 2rem;
    @include Exo-font(1.75rem, 2.5rem);
    color: $green;
  }

  &__examples {
    @include mobile {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }

    @include tablet {
      display: grid;
      grid-template-rows: 1fr 0.5fr 1fr;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
    }

    @include desktop {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
    }
    @include desktop-xxl {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
    }
  }

  &__p {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 1rem 1rem;
    background: $lightgreen;
    @include Exo(1.3rem, 1.7rem);
    @include mobile {
      order: -1;
    }
    @include tablet {
      grid-column: 1/3;
      grid-row: 2/3;
      padding: 1rem 1rem;
    }

    @include desktop {
      grid-column: 2/4;
    }

    @include desktop-xxl {
      grid-column: 2/4;
    }
  }

  &__p_change {
    @include desktop {
      grid-column: 1/3;
      grid-row: 1/2;
    }
  }

  &__img_tall {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  &__p_small {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
