//Переменные для шрифтов и цвета в файле var.scss, их подставляете вместо названия шрифтов и цвета, если не используются миксины. Миксины находятся в файле mixin.scss
.catalog {
  position: relative;
  &__background {
    position: absolute;
    z-index: -1;
  }

  &__background_1 {
    left: 0em;
    top: -9rem;
  }

  &__background_2 {
    transform: scaleX(-1);
    right: 0em;
    top: -9rem;
  }
}
.decor-container {
  max-width: 1340px;
  padding: 0 10px;
  margin: auto;

  &__title {
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include Montserrat-Bold-font(2.25rem, 2.8rem);
    text-align: center;
  }
}

.decor {
  &__title {
    @include Montserrat-font(1.75rem, 2.5rem);
    padding: 1rem 1rem;
  }

  &__examples {
    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    @include tablet {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5rem;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    @include desktop {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
    }
    @include desktop-xxl {
    }
  }

  &__p {
    @include mobile {
      order: -1;
    }
    @include tablet {
      grid-column: 1/3;
      grid-row: 2/3;
      text-align: center;
      background: $lightgreen;
      @include Raleway-font(1.4rem, 2rem);
      padding: 1rem 1rem;
      display: flex;
      align-items: center;
    }

    @include desktop {
      grid-column: 2/4;
    }
  }

  &__p_change {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  &__img_tall {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  &__p_small {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
