//Переменные для шрифтов и цвета в файле var.scss, их подставляете вместо названия шрифтов и цвета, если не используются миксины. Миксины находятся в файле mixin.scss
.decor-container {
  max-width: 1340px;
  width: 100%;
  padding: auto 10px;
  margin: auto auto;
}

.container__title {
  text-align: center;
}

.decor__examples {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.decor__p {
  grid-column: 2/4;
  justify-items: center;
  text-align: center;
  background: $lightgreen;
}

.decor__p_change {
  grid-column: 1/3;
  grid-row: 1/2;
}

.decor__img_tall {
  grid-column: 1/2;
  grid-row: 1/3;
}

.decor__p_small {
  grid-column: 2/3;
  grid-row: 1/2;
}
