.opisanie__background {
  position: absolute;
  z-index: -1;
  top: -2rem;
  @include mobile {
    width: 15rem;
  }
  @include tablet {
    width: 20rem;
  }
}
.opisanie__background_2 {
  transform: scaleX(-1);
  right: 0em;
}
.opisanie {
  margin-top: 4.25rem;
  position: relative;
  @include desktop {
    margin-top: 6rem;
  }
  &__text_1,
  &__text_2 {
    @include Exo;
    padding: 0 10px 4.25rem;
    color: $black;
    margin: 0 auto;
    text-align: center;
    @include mobile {
      @include Exo(1.3rem, 1.7rem);
    }
    @include tablet {
      max-width: 768px;
    }
    @include desktop {
      max-width: 900px;
    }
    @include desktop-xxl {
      max-width: 1130px;
    }
  }
  &__text_1 {
    padding-bottom: 3rem;
  }
}
.container_swiper {
  max-width: 1340px;
  padding: 0 10px;
  margin: 0 auto;
}
.swiper {
  width: 100%;

  margin: 0 auto;
  &-wrapper {
    box-sizing: content-box;
  }
}
.swiper-button-next,
.swiper-button-prev {
  top: 8rem;
}
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  color: $lightgreen;
  opacity: 0.8;
  font-size: 2.5rem;
}
.swiper .swiper-pagination-bullet {
  width: 0.9rem;
  height: 0.9rem;
}
.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: $green;
}
.swiper-pagination {
  position: relative;
}
