.opisanie {
  margin: 6.25rem 0;
  &__title {
    @include Montserrat-Medium-font;
    max-width: 1209px;
    font-size: 3rem;
    line-height: 3.688rem;
    padding-bottom: 2.75rem;
  }
  p {
    color: $vesna_4;
    margin: 0 auto;
    text-align: center;
  }
  &__text {
    @include Raleway-font;
    max-width: 856px;
    padding-bottom: 6.25rem;
  }
}
.swiper {
  display: flex;
  max-width: 1600px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border: 1px solid black;
  &-wrapper {
    box-sizing: content-box;
  }
  &-slide {
    display: flex;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-button-next {
    color: $white;
    opacity: 0.6;
    right: 20px;
  }
  &-button-prev {
    color: $white;
    opacity: 0.6;
    left: 20px;
  }
}
