.opisanie__background {
  position: absolute;
  z-index: -1;
  top: -2rem;
}
.opisanie__background_2 {
  transform: scaleX(-1);
  right: 0em;
}
.opisanie {
  margin: 4.25rem 0;
  position: relative;
  &__title {
    @include Exo-font(1.75rem, 2.5rem);
    max-width: 1209px;
    padding: 0 10px 2.75rem;
    color: $vesna_4;
    margin: 0 auto;
    text-align: center;
  }

  &__text {
    @include Exo;
    max-width: 856px;
    padding: 0 10px 6.25rem;
    color: $vesna_4;
    margin: 0 auto;
    text-align: center;
  }
}
.container_swiper {
  max-width: 1600px;
  padding: 0 10px;
  margin: 0 auto;
}
.swiper {
  width: 100%;
  max-height: 510px;
  margin: 0 auto;
  &-wrapper {
    box-sizing: content-box;
  }
}
.swiper-button-next,
.swiper-button-prev {
  top: 8rem;
}
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  color: $lightgreen;
  opacity: 0.8;
  font-size: 2.5rem;
}
.swiper .swiper-pagination-bullet {
  width: 0.9rem;
  height: 0.9rem;
}
.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: $green;
}
.swiper-pagination {
  position: relative;
}
