.recommendations{
    max-width: 1340px;
    padding: 3.13rem 10px;
    margin: auto;

    &__h3{
        padding-bottom: 2rem;
        @include Montserrat-font (1.75rem,2.5rem);
        }

    p{
        @include Raleway-font ($fz:1rem,$lh:1.5rem);
    }
    p:not(:last-child){
        padding-bottom: 1.1rem;
    }

    &__blok{
        display: flex;
        gap: 20px;
    }

    &__left{
        padding: 1rem;
        background: $lightgreen
    }

    &__image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 83px;
        height: 83px;
        background-color: $green;
        border-radius: 50%;
    }

    &__right{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        padding-top: 2rem;
    }

    &__body{
        display: grid;
        justify-items: center;
    }

    &__text{
        padding-top: 0.5rem;
        text-align: center;
    }

}