.stabilized{

    &__background {
        position: absolute;
        z-index: -1;
        @include mobile {
            width: 15rem;
        }
        @include tablet {
            width: 20rem;
            }
    }

    &__background_2 {
        transform: scaleX(-1);
        right: 0rem;

    }

    &__h2{
        padding: 7rem 0 0rem;
        @include Exo-Bold-font (2.25rem, 2.8rem);
        text-align: center;
        text-transform: uppercase;
    }

    &__main{
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        max-width: 1340px;
        padding: 3.13rem 10px 0;
        margin: auto;

        @include mobile {
            flex-direction: column;
            align-items: center;
            gap: 5rem;
        }

    }

    &__pictures{
        margin-top: 1.5rem;

        &__img-1{
            max-width: 80%;
        }

        &__img-2{
            max-width: 60%;
            margin-left: 30%;
            margin-top: -10%;
        }
    }

    &__description{
        width: 77%;

        @include mobile {
            width: 90%;
        }

        &__check{
            width: 50px;
            height: 50px;
            margin: 20px;

            @include mobile {
                width: 30px;
                height: 30px;
            }
        }

        &__p{
            @include Exo ($fz:1rem,$lh:1.5rem);
            padding: 1rem 0;
            text-align: justify;

            @include mobile {
                @include Exo ($fz:1.3rem,$lh:1.7rem);
            }
        }

        &__row{
            display: flex;
            flex-direction: row;
        }

    }
}