@import "./var.scss";
@import "./mixin.scss";
@import "./header.scss";
@import "./glavnaj.scss";
@import "./opisanie.scss";
@import "./katalog.scss";
@import "./flowers.scss";
@import "./recommendations.scss";
@import "./zakaz.scss";
@import "./footer.scss";