//Это переменные для шрифтов, их подставляете вместо названия шрифтов
$Montserrat: "Montserrat";
$Raleway: "Raleway";

//Это переменные для цвета, их подставляете вместо названия цвета
$white: #ffffff;
$vesna_4: #1a1a18;
$gray_1: #333333;
$black: #000000;

/* Переменные для бэкграунда */
$lightgreen: #e9ece0;
$green: #8ca170;
$vesna_2: #99a18e;
$deepgreen: #545a2f;
$gray_green: #dde3e1;
