//Это переменные для шрифтов, их подставляете вместо названия шрифтов
$Geometria:'Geometria';
$Noah:'Noah';
$Raleway:'Raleway';
$Montserrat:'Montserrat';

//Это переменные для цвета, их подставляете вместо названия цвета
$white: #FFFFFF;
$vesna_4: #1A1A18;
$gray_1:#333333;
$black: #000000;

/* Переменные для бэкграунда */
$lightgreen: #E9ECE0;
$green: #8CA170;
$vesna_2:#99A18E;
$deepgreen:#545A2F;
$gray_green: #DDE3E1