.zzakaz {
    max-width: 1340px;
    padding: 3.13rem 10px;
    margin: auto;
}

.iwrapper {
    display: grid;
    grid-template-columns: 7% 11% 7% 19% 7% 10%;
    margin-top: 10%;
    @include Raleway-font(1rem);
}

.zwrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    max-width: 1340px;
    padding: 3.13rem 10px;
}

.logo1 {
    width: 34%;
    @include Raleway-font(1rem);
    color: $white;
}

.contacts {
    width: 33%;
    @include Montserrat-Bold-font(2.25rem, 2.8rem);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: auto;
}

.zcontact {
    @include Raleway-font(1rem);
    width: 100%;
}

.zleft {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px 0px;
}



.zright {
    background: $white;
    width: 40%;
    @include Raleway-font(1rem);
}

.zright {
    @include Raleway-font(1rem);
    margin-left: 80px;
    width: 60%;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83px;
    height: 83px;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $green;
}

.icons {
    width: 40px;
    height: 40px;
}