.zzakaz {
    max-width: 1340px;
    padding: 0 10px;
    margin: auto;
}

.iwrapper {
    display: flex;
    flex-direction: row;
    @include Exo (1rem);
    justify-content: flex-start;
    gap: 10px;

    @include mobile {
        flex-direction: column;
        align-items: center;
    }
}

.zwrapper {
    display: flex;
    flex-direction: row;
    max-width: 1340px;
    padding: 3.13rem 10px;
    justify-content: space-between;
    gap: 20px;

    @include mobile {
        flex-direction: column;
    }
}

.logo1 {
    width: 34%;
    @include Exo (1rem);
    color: $white;
}

.contacts {
    width: 100%;
    padding: 7rem 10px 2rem;
    margin: auto;
    @include Exo-Bold-font (2.25rem, 2.8rem);
    text-align: center;
    text-transform: uppercase;
}

.zcontact {
    @include Exo (1rem);
    width: 100%;
}

.zleft {
    display: flex;
    justify-content: space-between;
    width: 60%;

    @include mobile {
        img {
            max-width: 100%;
        }

        width: 100%;
    }
}



.zright {
    background: #e9ece0;
    width: 100%;
    @include Exo (1rem);
}


.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83px;
    height: 83px;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $green;
    justify-content: space-around;

}

.icons {
    width: 40px;
    height: 40px;
}

.link {
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
}