.zzakaz {
    max-width: 1340px;
    padding: 0 10px;
    margin: auto;

}


.iwrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include Exo (1rem);
    gap: 250px;
    margin-top: 15px;


    @include mobile {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}

.zwrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1340px;
    gap: 20px;

    @include mobile {
        flex-direction: column;
    }
}

.logo1 {
    width: 34%;
    @include Exo (1rem);
    color: $white;
}

.contacts {
    width: 100%;
    padding: 7rem 10px 2rem;
    margin: auto;
    @include Exo-Bold-font (2.25rem, 2.8rem);
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
    text-transform: uppercase;
}

.zcontact {
    @include Exo (1rem);
    width: 100%;
}

.zleft {
    display: flex;
    justify-content: space-between;
    width: 30%;
    flex-wrap: nowrap;

    @include mobile {
        img {
            max-width: 100%;
        }

        width: 100%;
    }
}




.zright {
    display: flex;
    width: 65%;
    background: #e9ece0;
    flex-wrap: nowrap;
    @include Exo (1rem);
    padding: 1rem;
    @include mobile {
        width: 100%;
    }
}

.zbottom {
    display: flex;
    background: #e9ece0;
    @include Exo ($fz:1rem,$lh:1.5rem);
    padding: 1rem;

}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83px;
    height: 83px;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $green;
    justify-content: space-around;

}

.icons {
    width: 40px;
    height: 40px;
}

.link {
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
}