@charset "UTF-8";
/* Переменные для бэкграунда */
/* Для использования миксинов шрифтов, можно указывать название миксина, а в скобочках два параметра (размер и линейную высоту), если их не указывать, то будут базовые величины (1,5 rem(24px) и 1.75rem (28px) соответственно) */
/* Переменные для адаптивной версии */
@media screen and (min-width: 1024px) and (max-width: 2559px) {
  html {
    font-size: clamp(1rem, 0.3333rem + 1.0417vw, 2rem);
  }
}

header {
  width: 100%;
  position: absolute;
  z-index: 2;
}

.container {
  max-width: 100rem;
  padding: 1rem 2rem 0 3rem;
  margin: auto;
}

.menu_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.menu_container img {
  margin-right: auto;
  width: 10rem;
}
.menu_container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu_container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu_container li:not(:last-child) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 1.25rem;
  font-family: "Raleway";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #FFFFFF;
}
.menu_container li span:first-of-type {
  font-family: "Raleway";
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5rem;
  background-color: #FFFFFF;
  padding: 0.75rem 1.25rem;
}
.menu_container li span:last-of-type {
  font-family: "Raleway";
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding-top: 1rem;
  color: #FFFFFF;
}

.menu_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_start {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container_start img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.container_start .start_description {
  max-width: 100rem;
  padding: 10px;
  margin: auto;
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 5rem 0 10rem;
}
.container_start .start_description p {
  color: #FFFFFF;
  padding-bottom: 1rem;
}
.container_start .start_description p:nth-child(1) {
  font-family: "Raleway";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.container_start .start_description p:nth-child(2) {
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 500;
  line-height: 4rem;
}
.container_start .start_description p:nth-child(3) {
  font-family: "Raleway";
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.zakaz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
}

.a {
  background: #FFFFFF;
  height: 100%;
  width: 100%;
}

.b,
.c {
  background: #FFFFFF;
  width: 50%;
  text-align: center;
}

.c {
  background: #FFFFFF;
}